@import url(https://fonts.googleapis.com/css?family=Merriweather);

html,
body
{
	font-family: "Merriweather", cursive;
	height:100vh;
}

/**
* HEAD FRAME
* ---------------------------------------------------------------
*/

.head_frame
{
	position:relative;
	background:url('/img/header.jpg') fixed;
	background-position:center;
	background-size: cover;
	height:100%;
	width:100%;
}

/**
* HEAD FRAME BLOG
* ---------------------------------------------------------------
*/

.head_frame_blogs
{
	position:relative;
	background: url('/img/header.jpg') fixed;
	background-position:center;
	background-size:cover;
	height:60%;
	width:100%;
}

/**
* DETAIL POST
* ---------------------------------------------------------------
*/

.detail_post
{
	margin-bottom:10%; 
}

.post_title
{
	margin-bottom:20px; 
}

.post_shape
{
	margin-bottom:20px;
}

.post_shape .post_date
{
	border:2px solid #18BC9C;
	padding:10px;
	margin-right:10px; 
}

.post_shape .post_user
{
	border:2px solid #18BC9C;
	padding:10px;
	margin-right:10px; 
}

.post_image
{
	margin-bottom:10px;
}

.post_content
{
	padding:10px; 
}

/**
* HEADLINE
* ---------------------------------------------------------------
*/

.headline_content
{
	padding-top:20em;
	text-align:center;
}

.headline_content_blogs
{
	padding-top:10em;
	text-align:left;
}

.headline_heading
{
	font-size:2em;
	color:#fff;
}

.headline_desc
{
	clear:both;
	font-size:1em; 
	color:#fff;
}

.headline_hr
{
	width:8em;
	height:.2em;
	background-color:#fff;  
}

.headline_hr_blogs
{
	width:8em;
	height:.2em;
	background-color:#fff;
	float:left;  
}

@media (min-width: 768px){
	
	.headline_heading
	{
		font-size:4em;
	}

	.headline_desc
	{
		font-size:1.5em;
	}

}

/**
* CATEGORY
* ---------------------------------------------------------------
*/

.category_text
{
	color:#fff;
	border:2px solid #18BC9C;
	font-size:1em; 
	padding:.5em; 
}

/**
* NAVBAR GREEN
* ---------------------------------------------------------------
*/

.navbar.navbar-green
{
	background-color:#18BC9C; 
}

.navbar.navbar-green .navbar-toggle
{
	background-color:#fff;
}

.navbar.navbar-green .navbar-toggle .icon-bar
{
	background-color:#18BC9C;
}

.navbar.navbar-green .navbar-brand
{
	color:#fff;
}

.navbar.navbar-green .navbar-brand:hover
{
	color:#000;
}

.navbar.navbar-green .nav.navbar-nav.green > li > a
{
	color:#fff; 
}

.navbar.navbar-green .nav.navbar-nav.green > li > a:hover
{
	background-color:transparent; 
	color:#000; 
}

.navbar.navbar-green .nav.navbar-nav.green > li > a:active
{
	background-color:transparent; 
}

.navbar.navbar-green .nav.navbar-nav.green > li > a:visited
{
	background-color:transparent; 
}

.navbar.navbar-green .nav.navbar-nav.green > li > a:focus
{
	background-color:transparent; 
}

/**
* TITLE HEAD
* ---------------------------------------------------------------
*/

.title_head
{
	font-size:2em;
	text-align:center;
	margin-top:60px;  
}

.title_hr
{
	margin-left:0 auto;
	margin-right:0 auto;
	background-color:#18BC9C;
	height:.2em;
	width:6em;
	margin-bottom:50px;
	margin-top:40px;     
}

@media (min-width:768px){

	.title_head
	{
		font-size:3em;
	}

}

/**
* ARTICLE
* ---------------------------------------------------------------
*/

.article_frame
{
	position:relative;
	margin-bottom:10%; 
	transition:all .1s ease; 
}

.article_frame:hover
{
	transform:scale(1.1); 
}

.article_user
{
	position:absolute;
	color:#fff;
	top:0;
	margin-left:10px;	
	margin-top:10px;
	border-bottom:2px solid #fff;  
}

.article_date
{
	position:absolute;
	color:#fff;
	top:50%;
	margin-left:10px;
	border-bottom:2px solid #fff;  
}

.article_title
{
	position:absolute;
	top:50%;
	margin-left:10px;  
}

.article_title a
{
	font-size:.6em;
	color:#fff; 
}

.article_title a:hover
{
	font-size:.8em;
	color:#888;
	text-decoration:none; 
}

@media (min-width:768px){
	
	.article_title a
	{
		font-size:.8em;
	}

}

/**
* FOOT SITE
* ---------------------------------------------------------------
*/

footer
{
	background-color:#f2f2f2;
	padding:3%; 
}

.foot_site p
{
	text-align:left;
}

.foot_site .red
{
	color:#f00;
}

ul.foot_social 
{
	list-style-type:none;
	font-size:1.3em;
	padding-left:0;  
}

ul.foot_social>li>a
{
	color:#18BC9C; 
}